* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

html {
    display: table;
    margin: auto;
}

body {  
    display: table-cell;
    vertical-align: middle;
    max-width: 960px;
    background-color: rgb(230, 215, 196);
    padding-top: 10px;
    padding-bottom: 70px;
    line-height: 1.5;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: crimson;
}

h2 {
    background-color: rgb(179, 145, 103);
    color: white;
    font-weight: bold;
}

.home-button {
    background-color: rgb(138, 62, 0);
    color: white;

}

.icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.image-container {
    min-height: 360px;
    width: 200px;
    background-color: rgba(240, 248, 255, 0);
}



.icon-container {
    min-height: 30px;
    min-width: 30px;
    background-color: rgba(240, 248, 255, 0);
}
